# **ASSIGNMENT 4**

**Q1**

In [1]:
class Solution:
    def commonElements(self, arr1, arr2, arr3):
        p1, p2, p3 = 0, 0, 0
        result = []

        while p1 < len(arr1) and p2 < len(arr2) and p3 < len(arr3):
            if arr1[p1] == arr2[p2] == arr3[p3]:
                result.append(arr1[p1])
                p1 += 1
                p2 += 1
                p3 += 1
            elif arr1[p1] < arr2[p2]:
                p1 += 1
            elif arr2[p2] < arr3[p3]:
                p2 += 1
            else:
                p3 += 1

        return result

**Q2**

In [2]:
def findDisjoint(nums1, nums2):
    set1 = set(nums1)
    set2 = set(nums2)

    distinct_nums1 = [num for num in nums1 if num not in set2]
    distinct_nums2 = [num for num in nums2 if num not in set1]

    return [distinct_nums1, distinct_nums2]
nums1 = [1, 2, 3]
nums2 = [2, 4, 6]
result = findDisjoint(nums1, nums2)
print(result)

[[1, 3], [4, 6]]

**Q3**

In [3]:
def transpose(matrix):
    rows = len(matrix)
    cols = len(matrix[0])

    transposed = [[0 for _ in range(rows)] for _ in range(cols)]

    for i in range(rows):
        for j in range(cols):
            transposed[j][i] = matrix[i][j]

    return transposed
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transposed_matrix = transpose(matrix)
print(transposed_matrix)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

**Q4**

In [4]:
def arrayPairSum(nums):
    nums.sort()
    n = len(nums)
    max_sum = 0

    # Pair consecutive elements and sum the minimum values
    for i in range(0, n, 2):
        max_sum += nums[i]

    return max_sum
nums = [1, 4, 3, 2]
max_sum = arrayPairSum(nums)
print(max_sum)

4

**Q5**

In [5]:
def arrangeCoins(n):
    k = int((2 * n) ** 0.5) - 1
    while (k * (k + 1)) // 2 <= n:
        k += 1
    return k - 1
n = 5
complete_rows = arrangeCoins(n)
print(complete_rows)

2

**Q6**

In [6]:
class Solution:
    def sortedSquares(self, nums):
        squared_nums = [num ** 2 for num in nums]
        squared_nums.sort()
        return squared_nums
nums = [-4, -1, 0, 3, 10]
solution = Solution()
result = solution.sortedSquares(nums)
print(result)

[0, 1, 9, 16, 100]

**Q7**

In [7]:
def maxCount(m, n, ops):
    if not ops:
        return m * n
    min_a = min(op[0] for op in ops)
    min_b = min(op[1] for op in ops)
    return min_a * min_b
m = 3
n = 3
ops = [[2, 2], [3, 3]]
result = maxCount(m, n, ops)
print(result)

4

**Q8**

In [8]:
def shuffle(nums, n):
    result = []
    for i in range(n):
        result.append(nums[i])
        result.append(nums[i+n])
    return result
nums = [2, 5, 1, 3, 4, 7]
n = 3
result = shuffle(nums, n)
print(result)

[2, 3, 5, 4, 1, 7]